In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# Import CSV Files
ufo_csv = "CSV files/us_ufo_csv.csv."
murder_csv = "CSV files/raw murder.csv"
location_csv = "CSV files/raw locations.csv"

# create dataframes
raw_ufo_df = pd.read_csv(ufo_csv)
raw_murder_df = pd.read_csv(murder_csv)
raw_location_df = pd.read_csv(location_csv)

In [3]:
#raw_ufo_df.head()

In [4]:
#raw_murder_df.head()

In [5]:
#raw_location_df.head()

In [6]:
# data cleaning for location dataframe
clean_location_df = raw_location_df.reindex(columns = ["state", "name", "bj_lat", "bj_long"])
clean_location_df = clean_location_df.rename(columns ={"bj_lat": "latitude", "bj_long": "longitude"})
clean_location_df["state"] = clean_location_df["state"].str.lower()


#save as new CSV file
#clean_location_df.to_csv("CSV files/Clean Ben & Jerrys Locations.csv")

In [7]:
#clean_location_df.head()

In [8]:
# data cleaning for murders dataframe
clean_murder_df = raw_murder_df.reindex(columns = ["state", "State_Name", "Murders", "Population", "Murder_Rate"])
clean_murder_df = clean_murder_df.rename(columns = {"State_Name": "state_name", "Murders": "murders", "Population": "population", "Murder_Rate": "murder_rate"})


#save as new CSV file
#clean_murder_df.to_csv("CSV files/clean murders.csv")

In [9]:
#clean_murder_df.head()

In [10]:
raw_ufo_df.head()

,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),latitude,longitude
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,29.883056,-97.941111
1,3,10/10/1956 21:00,edna,tx,us,circle,20,28.978333,-96.645833
2,4,10/10/1960 20:00,kaneohe,hi,us,light,900,21.418056,-157.803611
3,5,10/10/1961 19:00,bristol,tn,us,sphere,300,36.595000,-82.188889
4,7,10/10/1965 23:45,norwalk,ct,us,disk,1200,41.117500,-73.408333

In [11]:
#raw_ufo_df.columns = raw_ufo_df.columns.str.replace(' ', '/')
#raw_ufo_df['datetime'] = raw_ufo_df.datetime()
#raw_ufo_df['datetime'] = raw_ufo_df['datetime'].str.replace('[0-5]', ' ')
#raw_ufo_df['datetime'] = raw_ufo_df['datetime'].pd.to_datetime()
#raw_ufo_df['datetime'] = pd.to_datetime(raw_ufo_df.datetime)
#raw_ufo_df['datetime1']= raw_ufo_df['datetime'].dt.strftime('%Y/%m/%d')
#raw_ufo_df['datetime'] = raw_ufo_df['datetime'].pd.to_datetime()
#raw_ufo_df['date'] = raw_ufo_df['datetime'].dt.normalize()

raw_ufo_df['datetime'] = raw_ufo_df['datetime']+':00'
raw_ufo_df['datetime'] = pd.to_datetime(raw_ufo_df.datetime ,infer_datetime_format=True, errors = "coerce")
#raw_ufo_df.datetime.values.astype('M8[D]')
raw_ufo_df.to_csv("CSV files/UFO.csv")

In [12]:
raw_ufo_df.dtypes

Unnamed: 0                     int64
datetime              datetime64[ns]
city                          object
state                         object
country                       object
shape                         object
duration (seconds)            object
latitude                     float64
longitude                    float64
dtype: object

In [13]:
raw_ufo_df.head()

,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),latitude,longitude
0,0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,29.883056,-97.941111
1,3,1956-10-10 21:00:00,edna,tx,us,circle,20,28.978333,-96.645833
2,4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,21.418056,-157.803611
3,5,1961-10-10 19:00:00,bristol,tn,us,sphere,300,36.595000,-82.188889
4,7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,41.117500,-73.408333