In [1]:
# imports
import pandas as pd

In [2]:
# Import CSV Files
ufo_csv = "CSV files/us_ufo_csv.csv."
murder_csv = "CSV files/raw murder.csv"
location_csv = "CSV files/raw locations.csv"

# create dataframes
raw_ufo_df = pd.read_csv(ufo_csv)
raw_murder_df = pd.read_csv(murder_csv)
raw_location_df = pd.read_csv(location_csv)

In [3]:
#raw_ufo_df.head()

In [4]:
raw_murder_df.head()

   State_Name  Murders state  Population  Murder_Rate
0      Alaska       62    ak      739795     8.380700
1     Alabama      404    al     4874747     8.287610
2    Arkansas      258    ar     3004279     8.587751
3     Arizona      416    az     7016270     5.929076
4  California     1830    ca    39536653     4.628616

In [5]:
#raw_location_df.head()

In [6]:
# data cleaning for location dataframe
clean_location_df = raw_location_df.reindex(columns = ["state", "name", "bj_lat", "bj_long"])
clean_location_df = clean_location_df.rename(columns ={"bj_lat": "latitude", "bj_long": "longitude"})
clean_location_df["state"] = clean_location_df["state"].str.lower()


#save as new CSV file
#clean_location_df.to_csv("CSV files/Clean Ben & Jerrys Locations.csv")

In [7]:
#clean_location_df.head()

In [16]:
# data cleaning for murders dataframe
clean_murder_df = raw_murder_df.reindex(columns = ["state", "State_Name", "Murders", "Population", "Murder_Rate"])
clean_murder_df = clean_murder_df.rename(columns = {"State_Name": "state_name", "Murders": "murders", "Population": "population", "Murder_Rate": "murder_rate"})


#save as new CSV file
clean_murder_df.to_csv("CSV files/clean murders.csv")

In [17]:
clean_murder_df.head()

  state  state_name  murders  population  murder_rate
0    ak      Alaska       62      739795     8.380700
1    al     Alabama      404     4874747     8.287610
2    ar    Arkansas      258     3004279     8.587751
3    az     Arizona      416     7016270     5.929076
4    ca  California     1830    39536653     4.628616